$icon-font-path: '../fonts/';
$sans: 'SimpleSans',
Arial,
sans-serif;
$sansLight: 'SimpleSansLight',
Arial,
sans-serif;
$sansMedium: 'SimpleSansMedium',
Arial,
sans-serif;
$sansBold: 'SimpleSansBold',
Arial,
sans-serif;
$sansBlack: 'SimpleSansBlack',
Arial,
sans-serif;
// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

html {
  font-size: 62.5%;
}

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}
body {
  font-family: $sansLight;
  @include font-size(1.4);
  background-color: #fff;
  padding-left: 0;
  padding-right: 0;
}
.padding-0 {
  padding: 0 !important;
  margin: 0 !important;
}
.padding25 {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

p {
  @include font-size(1.5);
}
li {
  @include font-size(1.5);
  background: none;
}
h1 {
  font-family: $sans;
  @include font-size(6.2);
}
h2 {
  font-family: $sans;
  @include font-size(3.0);
}
h3 {
  font-family: $sans;
  @include font-size(2.8);
}
h4 {
  @include font-size(2.4);
}
h5 {
  @include font-size(2.2);
}
h2,
h3,
h4,
h5 {
  font-weight: normal;
}


/************* IMPORTS *************/

@import '_ie8.scss';
@import '_1024_media.scss';
@import '_768_media.scss';
@import '_480_media.scss';

